*{padding: 0;margin:0;}
body {
    overflow-x: hidden;
}


#title {
    width: 500px;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    font-family: '宋体';
    position: relative;
    top: 250px;
}

.title1 {
    font-size: 40px;
}

.title2 {
    font-size: 50px;
    letter-spacing: 10px;
}

#bg {
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

#bg img {
    width: 100%;
    position: fixed;
    z-index: 0;
}
#main {
    border: 1px solid transparent;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 350px;
    padding:15px 15px 0;
}
.mainContent {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #e7e7e7;
}

#car {
    width: 1300px;
    margin: 0 auto;
    background-color: #e7e7e7;
    overflow: hidden;
}

.left {
    float:left;
    width: 600px;
    position: relative;
}

.checkall {
    position:relative;
    top:6px;
}
.ck{
    position: relative;
    top: 5px;
}

.left img {
    width: 300px;
    height: 300px;
}

.detail {
    margin-top: 0px;

}

.detail1,
.detail2 {
    margin-bottom: 10px;
}

.detail2 {
    color: rgb(197, 192, 192);
}

.detail3 {
    margin-top: 40px;
}

.detail4 {
    margin-top: 10px;
    color: rgb(197, 192, 192);
}

.detail li {
    width:100px;
    margin-top: 10px;
    margin-left: -10px;
    list-style: none;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
}
.del{
    position:relative;
    top:-25px;
    left:80px;
    cursor: pointer;
}

.num {
    width: 200px;
    height: 100px;
    border-left: 1px solid #ccc;
    margin-top: -100px;
    margin-left: 60px;
    padding-left: 20px;
}

.text1 {
    margin-left: -5px;
    text-align: center;
    outline: none;
    border:none;
    background-color: white;
    width: 80px;
    height: 30px;
}

.add {
    width: 30px;
    height: 30px;
    margin-left: -5px;
    outline: none;
    border:none;
    background-color: #ccc;
    color:white;
}
.sub{
    width: 30px;
    height: 30px;
    outline: none;
    border:none;
    background-color: #ccc;
    color:white;
}

.price {
    margin-top: -90px;
    margin-left: -20px;
}

table {
   
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc;
}
.rightContent{
 min-width: 200px;
  
    float: right;
    margin-right:1%;
    margin-top: 30px;
   
}

.right {
    width: 400px;
 
    float: left;
    /* position: relative;
    margin-top: -600px;
    margin-right: 150px;
    margin-bottom: 10px; */
    background-color: white;
    /* margin: 0 auto; */
}

.rt,.rt1,.rt2 {
    float: right;
    margin-right: 20px;
}
.rt1{
    position: relative;
    top:5px;
    left:-20px;
}
.rt2{
    float:right;
    position: relative;
    top:0px;
    left:-30px;
}
.number2{
    position: relative;
    top:-15px;
    left:60px;
}
.rtt{
  float:right;
  position: relative;
  top:-25px;
  right:30px;
}
.FH{
    font-size: 30px;
    position: relative;
    top:38px;
    left:180px;
}
.FH1{
    position: relative;
    top:-8px;
    left:260px;
}
.lf{
    position: relative;
  
}
.line1 {
    margin-top: 20px;
}
.line2{
    margin-top: 30px;
}

.line1,
.line2 {
    margin-left: 25px;
}

.line3,
.line4 {
    margin-top: 20px;
    margin-left: 28px;
}
.explain{
    margin-left: 25px;
}


.hTop{
    position: relative;
    top:20px;
}

#zt {
    font-size: 30px;
}

.txt {
    margin-top: 30px;
    line-height: 25px;
    color: gray;
}
.pay{
    margin-top: 30px;
}
.btnPay{
    width: 350px;
    height: 50px;
    background-color: #000000;
    color:white;
    font-size: 20px;
    outline: none;
    margin-left:20px;
    
}
.goBuy{
    width: 350px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    margin-top: 20px;
    border:2px solid black;
    outline: none;
    margin-left:20px;
}
/* [type="checkbox"]{
    width: 20px;
    height: 20px;
    background-color: white;
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
} */
/* [type="checkbox"]:checked {
    background: url("../images/checkbox.PNG")
    no-repeat center;
    background-size: 100% 100%;
} */
#footer{
    position: relative;
    z-index: 10000000000000000000;
    margin-top: 350px;
}
.productid{
    display: none;
}