@font-face {
    font-family: "FuturaLT-Light";
    src: url(../fonts/futura-lt-light.woff2),
     url(../fonts/futura-lt-light.woff2) format("svg"),
     url(../fonts/futura-lt-light.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: "FuturaLT-Book";
    src: url(../fonts/futura-lt-book.woff2),
     url(../fonts/futura-lt-book.woff2) format("svg"),
     url(../fonts/futura-lt-book.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: "FuturaLT-Medium";
    src: url(../fonts/futura-lt-medium.woff2),
     url(../fonts/futura-lt-medium.woff2) format("svg"),
     url(../fonts/futura-lt-medium.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: "FuturaLT-Medium-bold";
    src: url(../fonts/futura-lt-medium-bold.woff2),
     url(../fonts/futura-lt-medium-bold.woff2) format("svg"),
     url(../fonts/futura-lt-medium-bold.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: "times-new-roman-italic";
    src: url(../fonts/times-new-roman-italic.woff2),
     url(../fonts/times-new-roman-italic.woff2) format("svg"),
     url(../fonts/times-new-roman-italic.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@media screen and (max-width:768px) {
    #header {
    height: 210px;
    width: 100%;
}
    #d1 {
        width: 100%;
        height: 200px;
        background-image: url(../images/cat.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        color: #fff;
        font-size: 32px;
        font-family: 'FuturaLT-Light','GucciChinese';
        font-weight: lighter;
        line-height: 200px;
        text-align: center;
        cursor: pointer; 
    } 
}
@media screen and (min-width:768px) and (max-width:992px) {
    #header {
    height: 260px;
    width: 100%;
}
    #d1 {
        width: 100%;
        height: 250px;
        background-image: url(../images/cat.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: 0 -50px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        color: #fff;
        font-size: 32px;
        font-family: 'FuturaLT-Light','GucciChinese';
        font-weight: lighter;
        line-height: 250px;
        text-align: center;
        cursor: pointer; 
    }
}
@media screen and (min-width:992px){
      #header {
    height: 310px;
    width: 100%;
}
    #d1 {
    width: 100%;
    height: 300px;
    background-image: url(../images/cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-family: 'FuturaLT-Light','GucciChinese';
    font-weight: lighter;
        line-height: 300px;  
        cursor: pointer; 
}
}
main {
    width: 100%;
    height: 100%;
    background-color: #eee;
}
ul{
    list-style: none;
}
.p1{
 font-style: italic;
 color: #ccc;
}
input[type="text"]{
    border: 1px solid #fff;
}
select{
 border: 1px solid #fff;
}
.sp1{
    font-family: 'FuturaLT-Book','GucciChinese';
    font-size: 18px;
}
.sp2:hover{
    cursor: pointer;
    color: #ccc;
}
input[type="submit"]{
 background-color: #000;
 color: #fff;
 width: 100px;
 height: 40px;
 font-size: 12px;
 font-family: 'FuturaLT-Book','GucciChinese';
 border: 1px solid #000;
}
input[type="button"]{
 background-color:  #fff;
 color:#000;
 width: 100px;
 height: 40px;
 font-size: 12px;
 font-family: 'FuturaLT-Book','GucciChinese';
 border: 1px solid #fff;
}
.d4{
    height: 30px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: start;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
    font-family: 'FuturaLT-Book','GucciChinese';

}
#f1{
    width: 700px;
   margin: auto;
   padding: 100px 0;
}
#modp{
    background-color: #ccc;
}
#myModal3{
    font-family: KaiTi;
}
#nubPwd{
    color: red;
}
p{
    font-size: 12px;
    font-family: 'FuturaLT-Book','GucciChinese';
}