.spice-header .spice-container.header-transparent {
   background-color: #1b1b1b;
}
@font-face {
    font-family: FuturaLT-Light;
    src: url(../fonts/futura-lt-light.woff2),
     url(../fonts/futura-lt-light.woff2) format("svg"),
     url(../fonts/futura-lt-light.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: FuturaLT-Book;
    src: url(../fonts/futura-lt-book.woff2),
     url(../fonts/futura-lt-book.woff2) format("svg"),
     url(../fonts/futura-lt-book.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: Futura-LT-Medium;
    src: url(../fonts/futura-lt-medium.woff2),
     url(../fonts/futura-lt-medium.woff2) format("svg"),
     url(../fonts/futura-lt-medium.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: svg-iconfont;
    src: url(../fonts/svg-iconfont.ttf);
    src: url(../fonts/svg-iconfont.ttf) format("embedded-opentype"),
    url(../fonts/svg-iconfont.woff) format("woff"),url(../fonts/svg-iconfont.ttf) format("truetype"),url(../fonts/svg-iconfont.woff) format("svg");
    font-display:swap}
@font-face {
    font-family: TimesNewRomanPS-ItalicMT;
    src: url(../fonts/times-new-roman-italic.woff2),
     url(../fonts/times-new-roman-italic.woff2) format("svg"),
     url(../fonts/times-new-roman-italic.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
@font-face {
    font-family: TimesNewRomanPS-ItalicMT;
    src: url(../fonts/times-new-roman-italic.woff2),
     url(../fonts/times-new-roman-italic.woff2) format("svg"),
     url(../fonts/times-new-roman-italic.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap
}
#search-result{
    padding: 42px 0 39px;
    background: #313131;
    margin-top: 120px;
}
.search-result-text p{
    font-family: GucciChinese;
    font-size: 18px;
    color: #999;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 12px;
    padding-left: 28px;
}
.search-result-text h3{
    font-family: FuturaLT-Light,GucciChinese;
    font-size: 32px;
    color: #fff;
    letter-spacing: 0;
    line-height: 32px;
    padding-left: 28px;
}
#search-main{
    background: #fff;
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 10!important;
}
.search-nav-left{
    padding: 0 0 0 25px;
    position: absolute;
    color: #999;
    font-size: 12px;
    top: 0;
    left: 0;
    z-index: 1;
}
.search-nav-left span{
    line-height: 60px;
}
.search-nav-left-num{
font-family: TimesNewRomanPS-ItalicMT;
}
.search-nav-right{
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0;
    padding-right: 15px;
}
.search-nav-right-sort{
    min-width: 100px;
    padding: 0 0 0 7px;
    border-left: 1px solid #e7e7e7;
    display: inline-block;
    float: right;
}
.search-nav-right-sort-all,.search-nav-right-prep-all,.search-nav-right-type-all{

    height: 60px;
    padding: 2px 5px 0;
    border: 0 solid #ddd;
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 0;
    position: relative;
}
.search-nav-right-sort-left,.search-nav-right-type-left,.search-nav-right-prep-left{
    display: inline-block;
    line-height: 58px;
    vertical-align: middle;
}
.search-nav-right-sort-right i::before,.search-nav-right-type-right i::before,.search-nav-right-prep-right::before{
    position: relative;
    font-family: svg-iconfont!important;
    top: 1px;
    line-height: 1;
    font-size: 12px;
    content: "\E67C";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    transform: scale(.41667);
    color: black;
  
}
.search-nav-right-prep,.search-nav-right-type{
    border-left: 1px solid #e7e7e7;
    min-width: 79px;
    padding: 0 0 0 7px;
    display: inline-block;
    float: right;
}
.search-nav-right-prep-all{
   
    height: 60px;
    padding: 2px 5px 0;
    border: 0 solid #ddd;
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 0;
}
.search-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.search-list-div{
    width: 100%;
    height: 31.0283687943vw;
    display: inline-block;
    vertical-align: middle;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
position: relative;
   
}
.search-list-div:hover{
    background-color: #fff;
}
.search-list-a-div{
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    position: relative;
    padding-top: 5.20610215vw;
    overflow: hidden;
}
.search-list-a-div img {
    width: 100%;
}
.search-list-a{
    display: block;
    width: 100%;
    height: 100%;

}
@media (min-width: 1120px) { 
    .search-list-div{
        width: 25%;
    }
 }
 .search-list{
    background: #e6e6e6;
 }
 .search-list-div i{
    display: block;
    top: 20px;
    right: 20px;
    z-index: 2;
    font-family: svg-iconfont!important;
    background: none!important; 
    position: absolute;
    cursor: pointer;
 }
 .search-list-div-i-collect::before {
    color: black;
    opacity: 1;
    font-size: 13px;
    content: "\E664";
 }
 .search-list-div-i:hover::before {
    color: black;
    opacity: 1;
    font-size: 13px;
    content: "\E664";
 }
 .search-list-div-i::before{
    color: #999;
    opacity: .5;
    font-size: 13px;
    content: "\E665";
   
 }
 .productid{
     display: none;
 }